/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# 1.0 General

# 2.0 Media Queries
	# 2.1 Phone
	# 2.1 Less that large screen
	# 2.3 iPhone 5 & 5S in landscape
    # 2.4 iPhone 5 & 5S in portrait
    # 2.5 larger phones in landscape
    # 2.6 iPhone 6  Portrait

--------------------------------------------------------------*/



/* ==========================================================================
 1.0 General
 ========================================================================== */


@font-face {
  font-family: Ailerons;
  src: url("../fonts/Ailerons-Typeface.otf") format("opentype");
}


@font-face {
  font-family: Ailerons;
  font-weight: bold;
  src: url("../fonts/Ailerons-Typeface.otf") format("opentype");
}


body {
  background-color: #ececea;
  font-size: 16px;

}

header {
  display: flex;
  justify-content: center;


  .logo {
    text-align: center;
  }

  p {
    color: red;
  }
}

nav {
  background-color: grey;
  align-self: center;
  width: 60%;
  max-width: 725px;
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;




  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;


    li:nth-of-type(1){ margin-left: 30px; }

    li:nth-of-type(2){ margin: 0 30px 0 30px; }

    li:nth-of-type(3){ margin-right: 30px; }


    a {
      font-size: 24px;
      background-color: grey;
      color: white;
      border-radius: 7px;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      padding: 0.625rem;
      display: inline-block;

      &:hover {
        background-color: #e9241d;
      }
    }

    a.active {
      background-color: #f44336;
    }

  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
  background-color: #eaeff2;

  .hero_img_container {
    margin: 20px;
    justify-content: center;

    .hero_img {
      width: 100%;
      height: auto;
    }
  }

  .fullscreen_img_container {
    position: relative;
    overflow: hidden;
    background-color: #a7a8aa;
    z-index: 1;

    .fullscreen_img {
      background: url('../images/typing2.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      min-height: 100vh;
      z-index: -1;
      min-width: 100vw;
      height: auto;
      width: auto;


      .txt_over_main_img{
        font-family: Ailerons, "Courier New", monospace;
        margin-top: 0;
        margin-bottom: 15rem;
        text-align: center;



        p span{
          color: #fff;
          font-size: 8rem;
          text-shadow: 0 0 3rem #000;

        }

        p{
          color: #cc0000;
          display: inline-block;
          font-size: 4rem;

        }
      }
    }
  }

  .fullscreen_img_container{


    .shape_rect{
      background-color: #fff;
      opacity: 0.4;
      content: '';
      min-width: 80px;
      height: 600px;
      position: absolute;
      transform: rotate(45deg);


      &.topLhs{
        background-color: blue;
        opacity: 0.6;
        top: -120px;
      }
    }
  }


  .fullscreen_img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    #circle_profile_pic {
      width: 280px;
      height: 280px;
      margin-top: 100px;
      border-radius: 50%;
      background: url('../images/me.jpg');
      background-size: cover;
    }
   }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80%;
  background-color: #334055;
  flex-basis: 100%;
  overflow: hidden;
  padding-bottom: 10rem;
  padding-top: 10rem;
  margin-bottom: 20px;


  .section_inner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height:100%;
    max-width: 1375px;
    background: #eaeff2;
    overflow: hidden;
    margin-left: 60px;
    margin-right: 70px;
    padding-left: 2em;
    padding-top: 5em;

    p{
      font-size: 1.0em;
      line-height: 1.5em;
      font-weight: bold;
      width: 100%;
      align-self: flex-start;
      color: #334055;
    }



    p:first-letter{
      font-size: 3em;
      float:left;
      margin-top: .27em;
      margin-right: .08em;
      margin-bottom: -0.2em;
    }


    h3, ul{
    }

    h3 {
      font-size: 1.0em;
      line-height: 1.5em;
      color: #334055;
    }


    ul {
      list-style-type: circle;


      li{
        font-size: 1.0em;
        line-height: 1.5em;
        color: #334055;
        font-weight:bold;
        margin-right: 5em;


        span{ font-weight:normal;}

        p{
          font-size: 1.0em;
          line-height: 1.5em;
          font-weight:normal;


          &:first-letter{
            font-size: 1.0em;
            line-height: 1.5em;
            float:none;
            font-weight: normal;
            margin: 0;
          }

        }

        &:first-of-type{
          margin-bottom:2em;

        }
      }
    }

    h3{margin-right: 5em}

  }

}

/***  ***/

.project_wrapper{
  display: flex;
  flex-basis: 100%;
  margin-bottom: 20px;

  article {
    flex-basis: 50%;
    margin-right: 20px;
    background-color: #334055;
    padding-bottom: 20px;



    #part3{
      padding-top:20px;
      padding-bottom: 20px;
      padding-right: 50px;
      padding-left: 20px;

    }

    p{
      font-size: 1.0em;
      line-height: 1.5em;
      color: #eaeff2;
    }

    .app_screenshot{
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background: url('../images/app_Task.png');
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #CCBFAA;
      border: 3px solid black;
      float: left;
      margin-right: 20px;
      shape-outside: circle(50%);
    }
  }

  /***  ***/
  aside {
    flex-basis: 50%;
    background-color: #334055;
    padding-bottom: 20px;


    .content_wrapper{
      padding-top: 40px;
      padding-bottom: 20px;
      padding-right: 50px;
      padding-left: 20px;


      p{
        font-size: 1.0em;
        line-height: 1.5em;
        color: #eaeff2;
      }
    }

    .app_screenshot{
      width: 250px;
      height: 250px;
      background: url('../images/java_wc.jpg');
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #CCBFAA;
      border: 3px solid black;
      border-radius: 30px;
      float: left;
      margin-right: 20px;
    }
  }
}


.project_wrapper_below {
  display: flex;
  //flex-wrap: wrap;
  flex-basis: 100%;



  /***  ***/
  .projects {
    background-color: #334055;
    flex-basis: 50%;





    .proj_desc{
      color: #fff;
      padding-left: 50px;
    }

    &.three {
      padding: 20px;
      margin-bottom: 20px;

      a {
        display: block;
        max-width: 500px;
      }

      .app_screenshot {
        width: 500px;
        height: 310px;
        background: url('../images/website_napoli.jpg');
        background-color: #CCBFAA;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        border: 3px solid black;
        border-raius: 30px;
        background-origin: content-box;
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;

      }

    }

    &.four {
      padding: 20px;
      margin-bottom: 20px;
      margin-left: 20px;



      a{
        display: block;
        max-width: 500px;
        max-height: 310px;
      }

      .app_screenshot {
        width: 500px;
        height: 310px;
        background: url('../images/website_architects.jpg');
        background-color: #CCBFAA;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        border: 3px solid black;
        border-raius: 30px;
        background-origin: content-box;
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;

      }
    }
  }
}

.project_wrapper_below  {



  ul{
    list-style-type: square;
    position: relative;
    left: 2em;

    li {
      font-size: 1.0em;
      line-height: 1.5em;
      color: #fff;
      font-weight: bold;

    }
  }
}



footer {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  background-color: #334055;
  min-height: 200px;


  p {
    color: red;
    text-align: center;
    margin: 0;
    margin-top: 100px;
  }


  .social_icon{
    width: 48px;
    height:48px;
    z-index: 1;


      // initially color icons bg and graphic
      .icon {
        fill: #00abf1;
      }

      .icon_logo {
        fill: #fff;
      }


      &:hover {
        // then, on hover invert the colours
        .icon {
          fill: #fff;
          transition: fill 0.3s ease-out;
        }
        .icon_logo {
          fill: #00abf1;
          transition: fill 0.3s ease-out;
        }
      }
  }

}



.scrollContainer {
  padding-top: 10px;
}


.svgArrow {
  height: 48px;
  width: 48px;
}


.scrollContainer:hover {
  padding-top: 5px;
  padding-bottom: -5px;
  -webkit-transition: padding 500ms ease;
  -moz-transition: padding 500ms ease;
  -o-transition: padding 500ms ease;
  -ms-accelerator-transition: padding 500ms ease;
  transition: padding 500ms ease;
}


.scrollTopWrapper:hover #svgTopRect {
  fill: #000;

}


.scrollTopWrapper {
  display: none;
  position: fixed;
  z-index: 999;
  bottom: 100px;
  right: 15px;
  opacity: 0.5;

  .scrollTop {
    text-decoration: none;
  }


  .scrollTop:after {
    margin: 0 auto;
  }

}

/* ==========================================================================
 2.0  Media Queries
 ========================================================================== */


$phone-width: 380px;
$tablet-width: 601px;
$large-screen: 1025px;
$extra-large-screen: 1600px;



@mixin large-screen {
  @media (max-width: $extra-large-screen) {
    @content;
  }
}


@include large-screen {



}

@mixin tablet-screen {
  @media (max-width: $large-screen) {
    @content;
  }
}

@include tablet-screen {


  nav {
    min-width: 100%;
    position: relative;
  }

  main {


    .project_wrapper {
      flex-wrap: wrap;
      margin-bottom: 0;

      article {
        padding-right: 0;
        padding-top: 40px;
        flex-basis: 100%;
        min-height: 400px;
        margin-right: 0;
        margin-bottom: 20px;

        #part3 {
          min-height: 400px;
        }

      }

      aside {
        flex-basis: 100%;
        margin-bottom: 20px;

        .content_wrapper {
          min-height: 400px;
        }

      }
    }

    .projects {
      flex-basis: 100%;
      min-height: 100%;
      margin-top: 0;

      &.three {
        margin-bottom: 0px;
      }

    }
  }

  .fullscreen_img {

    #circle_profile_pic {
      max-width: 200px;
      max-height: 200px;
    }
  }

  .txt_over_main_img {
    p span {
      font-size: 6rem !important;
    }

    p {
      font-size: 3rem;
    }
  }

  .project_wrapper_below {
    flex-wrap: wrap;

    .projects {
      flex-basis: 100%;
      min-height: 400px;

      &.four {
        margin-left: 0;

      }

    }
  }
}



@mixin below_phone-screen {
  @media (max-width: $tablet-width){
    @content;
  }
}

@include below_phone-screen {

  html{
    //font-size: 50%;
  }

  nav {
    min-width: 100%;
    position: relative;
    border-radius: 0;


    ul li a{
      font-size:12px;
      padding: 2px;
    }

  }


  .shape_rect{
    display: none;}

  main
  {

    section {
      padding-top: 5rem;
      padding-bottom: 5rem;


      .section_inner {
        width: 100%;
        margin: 10px;
        padding-left: 10px;

      }
    }



    .fullscreen_img {

      #circle_profile_pic {
        max-width: 150px;
        max-height: 150px;
      }
    }

    .txt_over_main_img {
      p span {
        font-size: 3rem !important;
      }

      p {
        font-size: 1.75rem !important;
      }
    }



    .project_wrapper  {

      .app_screenshot {
        shape-outside: none;
        float: none;
      }
    }

    .project_wrapper_below{
      max-width: 100%;
      margin: 0;
      padding:0;

      .projects .proj_desc{
        padding-left: 0;
      }

      .app_screenshot {
        max-width: 300px;
        max-height: 182px;
        background-size: 100%;

      }
    }
  }
}
