/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# 1.0 General

# 2.0 Media Queries
	# 2.1 Phone
	# 2.1 Less that large screen
	# 2.3 iPhone 5 & 5S in landscape
    # 2.4 iPhone 5 & 5S in portrait
    # 2.5 larger phones in landscape
    # 2.6 iPhone 6  Portrait

--------------------------------------------------------------*/
/* ==========================================================================
 1.0 General
 ========================================================================== */
@import 'normalize.css';

body {
  background-color: #ececea;
}

header {
  display: flex;
  background-color: orange;

  .logo {
    text-align: center;
  }

  p {
    color: red;
  }
}

nav {
  background-color: grey;

  ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      font-size: 24px;
      margin-right: 30px;
      background-color: grey;
      color: white;
      border-radius: 7px;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      width: 200px;
      padding: 0.625rem;
      display: inline-block;

      &:hover {
        background-color: #e9241d;
      }
    }

    a.active {
      background-color: #f44336;
    }

  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;

  .hero_img_container {
    margin: 20px;
    justify-content: center;

    .hero_img {
      width: 100%;
      height: auto;
    }
  }

  .fullscreen_img_container {
    display: flex;
    .fullscreen_img {
      background: url('../images/typing2.jpg') no-repeat center center;
      background-size: cover;
      min-height: 100vh;
      min-width: 100vw;
      height: auto;
      width: auto;
    }
  }
}

.fullscreen_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;



  #circle_profile_pic {
    width: 300px;
    height: 300px;
    margin-top: 100px;
    border-radius: 50%;
    background: url('../images/me.jpg');
    background-size: cover;

  }



  #triangle{
    width: 0;
    height: 0;
    border-top: 140px solid #20a3bf;
    border-left: 70px solid transparent;
    border-right:70px solid transparent;
    opacity: 0.5;

  }

  // remove Firefox blue border
  a:focus{
    outline:0;
  }


}

section {
  min-height: 100vh;
  background-color: cyan;
  flex-basis: 100%;
}

article {
  background-color: orange;
  min-height: 80vh;
  flex-basis: 50%;
}

aside {
  background-color: green;
  min-height: 80vh;
  flex-basis: 50%;
}

p {
  color: green;
}

footer {
  background-color: yellow;
  min-height: 200px;
  flex: 1;

  p {
    color: red;
    text-align: center;
    margin: 0;
  }
}

.scrollContainer {
  padding-top: 10px;
}

.svgArrow {
  height: 64px;
  width: 64px;
}

.scrollContainer:hover {
  padding-top: 5px;
  padding-bottom: -5px;
  -webkit-transition: padding 500ms ease;
  -moz-transition: padding 500ms ease;
  -o-transition: padding 500ms ease;
  -ms-accelerator-transition: padding 500ms ease;
  transition: padding 500ms ease;
}

.scrollTopWrapper:hover #svgTopRect {
  fill: #000;
}

.scrollTopWrapper {
  height: 50px;
  width: 50px;

  display: none;
  position: fixed;
  z-index: 999;
  bottom: 100px;
  right: 100px;
  opacity: 0.5;

  .scrollTop {
    text-decoration: none;
  }

  .scrollTop:after {
    margin: 0 auto;
  }

}

/* ==========================================================================
 2.0  Media Queries 
 ========================================================================== */

$phone-width: 380px;
$large-screen: 895px;

@mixin phone-width {
  @media (max-width: $phone-width) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: $large-screen) {
    @content;
  }
}

/* ==========================================================================git
 2.1  < Phone 
 ========================================================================== */

@include phone-width {

  nav {
    min-height: 200px;

    a {
      font-size: 2rem;
    }

  }

}

/* ==========================================================================
 2.2  < large screen
 ========================================================================== */

@include large-screen {

  nav {
    opacity: 0.8;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;

  }
}

// 2.3 iPhone 5 & 5S in landscape
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {

  #circle {
    display: none;
  }

}

// 2.4 iPhone 5 & 5S in portrait
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  nav {
    //min-height: 100px;

    a {
      //font-size: 25px;
    }

  }
}

// 2.5 larger phones in landscape
@media only screen and (min-device-width: 375px) and (max-device-width: 773px) and (orientation: landscape) {
  #circle {
    //display: none;
  }
}

// 2.6 iPhone 6  Portrait
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

}


