/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# 1.0 General

# 2.0 Media Queries
	# 2.1 Phone
	# 2.1 Less that large screen
	# 2.3 iPhone 5 & 5S in landscape
    # 2.4 iPhone 5 & 5S in portrait
    # 2.5 larger phones in landscape
    # 2.6 iPhone 6  Portrait

--------------------------------------------------------------*/
/* ==========================================================================
 1.0 General
 ========================================================================== */
@import 'normalize.css';


@font-face {
  font-family: Ailerons;
  src: url("../fonts/Ailerons-Typeface.otf") format("opentype");
}


@font-face {
  font-family: Ailerons;
  font-weight: bold;
  src: url("../fonts/Ailerons-Typeface.otf") format("opentype");
}


body {
  background-color: #ececea;

}

header {
  display: flex;
  justify-content: center;


  .logo {
    text-align: center;
  }

  p {
    color: red;
  }
}

nav {
  background-color: grey;
  align-self: center;
  width: 60%;
  max-width: 725px;
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 2;
  border-radius: 7px;




  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;


    li:nth-of-type(1){ margin-left: 30px; }

    li:nth-of-type(2){ margin: 0 30px 0 30px; }

    li:nth-of-type(3){ margin-right: 30px; }


    a {
      font-size: 24px;
      background-color: grey;
      color: white;
      border-radius: 7px;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      padding: 0.625rem;
      display: inline-block;

      &:hover {
        background-color: #e9241d;
      }
    }

    a.active {
      background-color: #f44336;
    }

  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;

  .hero_img_container {
    margin: 20px;
    justify-content: center;

    .hero_img {
      width: 100%;
      height: auto;
    }
  }

  .fullscreen_img_container {
    position: relative;
    overflow: hidden;
    background-color: #a7a8aa;
    z-index: 1;

    .fullscreen_img {
      background: url('../images/typing2.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      min-height: 100vh;
      z-index: -1;
      min-width: 100vw;
      height: auto;
      width: auto;


      .txt_over_main_img{
        font-family: Ailerons, "Courier New", monospace;;
        margin-top: 0;
        text-align: center;


        p span{
          color: #fff;
          font-size: 8rem;
          text-shadow: 0 0 3rem #000;

        }

        p{
          color: #cc0000;
          display: inline-block;
          font-size: 4rem;

        }

      }

    }

  }

  .fullscreen_img_container{


    .shape_rect{
      background-color: #fff;
      opacity: 0.4;
      content: '';
      min-width: 80px;
      height: 600px;
      position: absolute;
      transform: rotate(45deg);




      &.topLhs{
        background-color: red;
        opacity: 0.6;
        top: -120px;
      }

      &.topRhs{
        background-color: green;
        transform:rotate(135deg);
        right:-5px;
        top: -120px;


      }
    }

  }


  .fullscreen_img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    #circle_profile_pic {
      width: 300px;
      height: 300px;
      margin-top: 100px;
      border-radius: 50%;
      background: url('../images/me.jpg');
      background-size: cover;
    }

    #triangle {
      width: 0;
      height: 0;
      border-top: 140px solid #20a3bf;
      border-left: 90px solid transparent;
      border-right: 90px solid transparent;
      opacity: 0.5;


    }

    // removes Firefox blue border
    a:focus {
      outline: 0;
    }

   }
}

section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: blue;
  flex-basis: 100%;
  overflow: hidden;


  .section_inner{
    display: flex;
    flex-wrap: wrap;
    min-width:100%;
    height:60%;
    background: yellow;
    transform: skew(-10deg);
    overflow: hidden;
    margin-left: 100px;




    p{
      font-size: 1.4em;
      width:50%;
      margin:auto;
      margin-top:1em;
      transform:skew(10deg);
      font-weight: bold;
    }

    p:first-letter{
      font-size: 2.4em;
      float:left;
      margin-top: -0.05em;
      margin-right: .08em;
      margin-bottom: -0.2em;
      color: black;
      transform:skew(10deg);

    }


    .content {
      display: flex;
      transform: skew(0deg);
      overflow: hidden;
      max-width: 800px;
      margin-left: 50px;
      z-index: 4;
      //color: #000;

    }

  }
  
}

article {
  background-color: #fff;
  min-height: 80vh;
  flex-basis: 50%;
  padding-top: 100px;



  .circle_pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: url('../images/me.jpg');
    background-size: cover;
    float: left;
    margin-right: 20px;
    shape-outside: circle(50%);
  }

  .content2{
    color: red;

  }

}




aside {
  background-color: green;
  min-height: 80vh;
  flex-basis: 50%;
}

p {
  color: green;
}

footer {
  background-color: yellow;
  min-height: 200px;
  flex: 1;

  p {
    color: red;
    text-align: center;
    margin: 0;
  }
}

.scrollContainer {
  padding-top: 10px;
}

.svgArrow {
  height: 64px;
  width: 64px;
}

.scrollContainer:hover {
  padding-top: 5px;
  padding-bottom: -5px;
  -webkit-transition: padding 500ms ease;
  -moz-transition: padding 500ms ease;
  -o-transition: padding 500ms ease;
  -ms-accelerator-transition: padding 500ms ease;
  transition: padding 500ms ease;
}

.scrollTopWrapper:hover #svgTopRect {
  fill: #000;
}

.scrollTopWrapper {
  height: 50px;
  width: 50px;

  display: none;
  position: fixed;
  z-index: 999;
  bottom: 100px;
  right: 100px;
  opacity: 0.5;

  .scrollTop {
    text-decoration: none;
  }

  .scrollTop:after {
    margin: 0 auto;
  }

}

/* ==========================================================================
 2.0  Media Queries
 ========================================================================== */

$phone-width: 380px;
$large-screen: 1025px;

@mixin phone-width {
  @media (max-width: $phone-width) {
    @content;
  }
}

@mixin above-large-screen {
  @media (min-width: $large-screen) {
    @content;
  }
}

@mixin below-large-screen {
  @media (max-width: $large-screen) {
    @content;
  }
}



@mixin mobile-landscape {
  @media only screen and (min-width : 321px) {
    @content
  }
}
@include mobile-landscape{

}


@include below-large-screen {

    nav{
      min-width: 100%;
      position: relative;
    }

}